:root {
    --fontColor: white;
    --backgroundColor:white;
    --highlightColor:grey;
    --fontStyle: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    font-size: 62.5%;
    font-family: var(--fontStyle);
}
.bg{
    background-image: url(./images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    position: relative;
    display: flex;
    height: 20rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: var(--fontColor)
}

header h1{
    position: absolute;
    left: 10%;
    bottom: 20%
}

header figure{
    position: absolute;
    right: 10%;
}

nav {
    border-style: solid;
    
    color: black; 
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 3rem; 
}

.navAnchor {
    color:black;
    text-decoration: none;
}
nav ul li {
    border-style: solid;
    border-color: var(--fontColor);
    width: 25%;
    border-width: .1rem;
    border-radius: 2.5rem;
    text-align: center;
    background: var(--backgroundColor);
    margin: .2rem;
}

nav ul li:hover{
    background-color:var(--highlightColor);
    border-color: var(--highlightColor);
}

.myPic{
    height: 150px;
    width: 175px;
    border-radius: 50%;

}
#banner {
    height: 200px;
    width: 100%;
}

h2{
    font-size: 3rem;
    text-align: center;
    width: 15%;
    justify-content: center;
    text-emphasis: ;
}

main section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    align-content: stretch;
    color: var(--fontColor)
}

#aboutMe p{
    width: 85%;
    border-left: black;
    border-style: solid;
    padding: 1rem;
    font-size: 2rem;
}


/* Portfolio section CSS */

#myPortfolio {
    position: relative;

}

.portfolioMainBlock {
    width: 85%;
    border-left: black;
    border-style: solid;
    padding: 1rem;
    position: relative;
    display:flex;
    flex-wrap: wrap;
}

.project {
    background-image: url(./images/cogs.gif);
    width: 25%;
    height: 150px;
    padding: 1rem;
    margin: 2rem;
    font-size: 2rem;
}

.project figure h3 {
    position: absolute;
    border-style: ridge;
    border-color: white;
    border-width: .5rem;
    padding: .1rem;
}

/* Resume section CSS */
.resumeMainBlock {
    width: 85%;
    border-left: black;
    border-style: solid;
    padding: 1rem;
}

.resumeMainBlock ul {
    padding: 1rem;
}

.resumeMainBlock li h3 {
    font-size: 2.5rem;
}

.resumeMainBlock li ul li {
    font-size: 2rem;
    line-height: 1.5;
}

.education{
    list-style: inside ;
}
.resumeMainBlock li ul p{
    font-size: 1.7rem;
    padding: 1rem;
}

/* Contact Me Css */
#contactMe ul{
    width: 85%;
    border-left: black;
    border-style: solid;
    padding: 1rem;
}

#contactMe ul li {
    font-size: 2rem;
    padding: 1rem;
}


/* Footer CSS */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--fontColor)
}

.resList {
    font-size: 3rem;
    border-bottom: .1rem;
    border-color: white;
    border-style: solid;
}
.backgroundRes{
    display: none;
}

.resource {
    display: block;
    text-align: center;
    padding: 1rem;
}

.resource:hover .backgroundRes {
    display: block;
    color: white;
}

/* Quote Scroll */

.slideshow-container {
    position: relative;
    width: 100%;
  }
  
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    line-height: 1.5;
  }
  
  .prev:hover, .next:hover {
    background-color: white;
    color: black;
  }
  
  .dot-container {
      text-align: center;
      padding: 20px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  q, .author {
      font-style: italic;
      font-size: 3rem;
      color: var(--fontColor)
  }